<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.socialapp">

<application
android:allowBackup="true"
android:icon="@mipmap/ic_launcher"
android:label="Social App"
android:roundIcon="@mipmap/ic_launcher_round"
android:supportsRtl="true"
android:theme="@style/Theme.SocialApp">

<!-- صفحه اصلی پس از ورود -->
<activity android:name=".MainActivity" />

<!-- صفحه ثبت‌نام -->
<activity android:name=".RegisterActivity" />

<activity android:name=".AddPostActivity" />

<activity android:name=".AddCommentActivity" />

<activity android:name=".CommentActivity" />

<!-- صفحه ورود (صفحه ابتدایی) -->
<activity android:name=".LoginActivity">
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>

</application>

</manifest>